# Beijing Air Quality

# Data Cleaning

In [1]:
# loading all needed packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import glob

%matplotlib inline

In [12]:

# From the DATA folder, we wil run through all of the individual csv files.
path = r'PRSA_Data_20130301-20170228/'
allFiles = glob.glob(path + '/*.csv')
# Prep the test and train data frames.
time = pd.DataFrame()
times = []
for file_ in allFiles:

    # Read in and set data index.
    df = pd.read_csv(file_,index_col = None,header = 0)
    df['Date'] = pd.to_datetime(df[['year','month','day','hour']])
    df = df.set_index('Date')
    df = df.loc[:'2016-12-31 23:00:00']
    df = df.drop(columns =['PM10', 'SO2', 'NO2', 'CO', 'O3', 'TEMP', 'PRES', 'DEWP', 'RAIN','wd', 'WSPM','No','year','month','day','hour'] )


    # Interpolate the train data and add to the rest of the train list

    df = df.interpolate(method = 'time')
    times.append(df)

# Take the data frame we made at the top and combine the new data frame we processed here

time = pd.concat(times)
time.head()

                     PM2.5  station
Date
2013-03-01 00:00:00    6.0  Gucheng
2013-03-01 01:00:00    6.0  Gucheng
2013-03-01 02:00:00    5.0  Gucheng
2013-03-01 03:00:00    6.0  Gucheng
2013-03-01 04:00:00    5.0  Gucheng

In [13]:
time.shape

(403776, 2)

In [7]:
path = r'PRSA_Data_20130301-20170228/' # place your path here
allFiles = glob.glob(path + '/*.csv')
df_ = pd.DataFrame()
test = pd.DataFrame()
train = pd.DataFrame()
trains = []
tests = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col = None,header = 0)
    df['Date'] = pd.to_datetime(df[['year','month','day','hour']])
    df = df.set_index('Date')
    df = df.loc[:'2016-12-31 23:00:00']
    df = df.drop(columns =['PM10', 'SO2', 'NO2', 'CO', 'O3', 'TEMP', 'PRES', 'DEWP', 'RAIN','wd', 'WSPM','No','year','month','day','hour'] )
    train = df[:int(df.shape[0]*0.8)]
    test = df[int(df.shape[0]*0.8):]


    train = train.interpolate(method = 'time')

    trains.append(train)


    test = test.interpolate(method = 'time')
    test['PM2.5'] = test['PM2.5'].fillna(method = 'bfill')
    tests.append(test)

train = pd.concat(trains)
train = train.sort_values(['station','Date'])

test = pd.concat(tests)

test = test.sort_values(['station', 'Date'])

In [8]:
train.shape

(323016, 2)

In [9]:
test.shape

(80760, 2)

In [11]:
train.tail()

                     PM2.5        station
Date
2016-03-26 09:00:00    7.0  Wanshouxigong
2016-03-26 10:00:00    9.0  Wanshouxigong
2016-03-26 11:00:00    9.0  Wanshouxigong
2016-03-26 12:00:00   11.0  Wanshouxigong
2016-03-26 13:00:00   10.0  Wanshouxigong

In [10]:
test.head()

                     PM2.5       station
Date
2016-03-26 14:00:00   14.0  Aotizhongxin
2016-03-26 15:00:00   13.0  Aotizhongxin
2016-03-26 16:00:00   12.0  Aotizhongxin
2016-03-26 17:00:00   10.0  Aotizhongxin
2016-03-26 18:00:00   15.0  Aotizhongxin

In [14]:
train.to_pickle('PKL/train.pkl')
test.to_pickle('PKL/test.pkl')
time.to_pickle('PKL/full.pkl')