# Beijing Air Quality

# Data Cleaning

In [1]:
# loading all needed packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import glob

%matplotlib inline

In [93]:
path = r'PRSA_Data_20130301-20170228/' # place your path here
allFiles = glob.glob(path + '/*.csv')
df_ = pd.DataFrame()
test = pd.DataFrame()
train = pd.DataFrame()
trains = []
tests = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col = None,header = 0)
    df['Date'] = pd.to_datetime(df[['year','month','day','hour']])
    df = df.set_index('Date')
    X = df.drop(columns=['PM2.5','year','month','day','hour','No'], axis = 1)
    y = df['PM2.5']
    X_train = X[:int(X.shape[0]*0.8)]
    X_test = X[int(X.shape[0]*0.8):]
    y_train = y[:int(X.shape[0]*0.8)]
    y_test = y[int(X.shape[0]*0.8):]

    train = pd.concat([X_train,y_train], axis = 1, ignore_index=True)
    train.columns = ['PM10', 'SO2', 'NO2', 'CO', 'O3', 'TEMP', 'PRES', 'DEWP', 'RAIN','wd', 'WSPM', 'station','PM2.5']
    test = pd.concat([X_test,y_test], axis = 1, ignore_index=True)
    test.columns = ['PM10', 'SO2', 'NO2', 'CO', 'O3', 'TEMP', 'PRES', 'DEWP', 'RAIN','wd', 'WSPM', 'station','PM2.5']

    train = train.interpolate(method = 'time')
    train.wd = train.wd.fillna(method = 'ffill')
    train.NO2 = train.NO2.fillna(method = 'bfill')
    trains.append(train)


    test = test.interpolate(method = 'time')
    test['PM2.5'] = test['PM2.5'].fillna(method = 'bfill')
    test.wd = test.wd.fillna(method = 'ffill')
    test.O3 = test.O3.fillna(method = 'bfill')
    test.CO = test.CO.fillna(method = 'bfill')
    tests.append(test)

train = pd.concat(trains)
train = train.sort_values(['station', 'Date'])

test = pd.concat(tests)

test = test.sort_values(['station', 'Date'])

In [96]:
test[test['PM2.5'].isna()]

Empty DataFrame
Columns: [PM10, SO2, NO2, CO, O3, TEMP, PRES, DEWP, RAIN, wd, WSPM, station, PM2.5]
Index: []

In [97]:
print(test.isna().sum())
print(train.isna().sum())

PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
PM2.5      0
dtype: int64
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
PM2.5      0
dtype: int64

In [87]:
train.tail(3)

,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station,PM2.5
Date,,,,,,,,,,,,,
2016-05-12 16:00:00,5.0,2.0,9.0,300.0,95.0,21.1,1010.0,-4.2,0.0,NNW,4.3,Wanshouxigong,3.0
2016-05-12 17:00:00,9.0,2.0,9.0,300.0,98.0,21.4,1010.4,-3.9,0.0,N,3.5,Wanshouxigong,3.0
2016-05-12 18:00:00,5.0,2.0,12.0,300.0,98.0,21.3,1010.9,-5.6,0.0,NNW,3.9,Wanshouxigong,3.0

In [98]:
test.head()

,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station,PM2.5
Date,,,,,,,,,,,,,
2016-05-12 19:00:00,36.0,2.0,18.0,300.0,89.0,20.3,1011.7,-5.6,0.0,NNW,2.2,Aotizhongxin,10.0
2016-05-12 20:00:00,52.0,2.0,30.0,400.0,66.0,17.4,1012.6,0.1,0.0,NNW,0.6,Aotizhongxin,26.0
2016-05-12 21:00:00,77.0,2.0,47.0,500.0,34.0,14.7,1013.8,1.6,0.0,SW,0.5,Aotizhongxin,11.0
2016-05-12 22:00:00,126.0,3.0,63.0,800.0,2.0,12.8,1014.4,2.6,0.0,SW,0.0,Aotizhongxin,22.0
2016-05-12 23:00:00,118.0,3.0,60.0,800.0,2.0,11.2,1014.6,4.6,0.0,WNW,0.4,Aotizhongxin,31.0

In [103]:
import glob
# From the DATA folder, we wil run through all of the individual csv files.
path = r'PRSA_Data_20130301-20170228/'
allFiles = glob.glob(path + '/*.csv')
# Prep the test and train data frames.
time = pd.DataFrame()
times = []
for file_ in allFiles:

    # Read in and set data index.
    df = pd.read_csv(file_,index_col = None,header = 0)
    df['Date'] = pd.to_datetime(df[['year','month','day','hour']])
    df = df.set_index('Date')

    # Drop unwanted columns

    df = df.drop(columns=['year','month','day','hour','No'], axis = 1)
    df.columns = ['PM2.5','PM10', 'SO2', 'NO2', 'CO', 'O3', 'TEMP', 'PRES', 'DEWP', 'RAIN','wd', 'WSPM', 'station']


    # Interpolate the train data and add to the rest of the train list

    df = df.interpolate(method = 'time')
    df.wd = df.wd.fillna(method = 'ffill')
    df.O3 = df.O3.fillna(method = 'bfill')
    df.CO = df.CO.fillna(method = 'bfill')
    df.NO2 = df.NO2.fillna(method = 'bfill')
    times.append(df)

# Take the data frame we made at the top and combine the new data frame we processed here

time = pd.concat(times)
time.head()

,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
Date,,,,,,,,,,,,,
2013-03-01 00:00:00,6.0,18.0,5.0,5.0,800.0,88.0,0.1,1021.1,-18.6,0.0,NW,4.4,Gucheng
2013-03-01 01:00:00,6.0,15.0,5.0,5.0,800.0,88.0,-0.3,1021.5,-19.0,0.0,NW,4.0,Gucheng
2013-03-01 02:00:00,5.0,18.0,5.5,5.0,700.0,52.0,-0.7,1021.5,-19.8,0.0,WNW,4.6,Gucheng
2013-03-01 03:00:00,6.0,20.0,6.0,5.0,650.0,62.5,-1.0,1022.7,-21.2,0.0,W,2.8,Gucheng
2013-03-01 04:00:00,5.0,17.0,5.0,5.0,600.0,73.0,-1.3,1023.0,-21.4,0.0,WNW,3.6,Gucheng

In [104]:
time.isna().sum()

PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

In [105]:
# pickling data
#import pickle

train.to_pickle('PKL/train.pkl')
test.to_pickle('PKL/test.pkl')
time.to_pickle('PKL/full.pkl')

In [68]:
len(train)

336612

In [69]:
len(test)

84156

In [60]:
train.columns.values

array(['PM10', 'SO2', 'NO2', 'CO', 'O3', 'TEMP', 'PRES', 'DEWP', 'RAIN',
       'wd', 'WSPM', 'station', 'PM2.5'], dtype=object)

In [ ]:
cols_paul = ['TEMP', 'PRES', 'DEWP', 'RAIN','wd', 'WSPM']