# Beijing Air Quality

# Data Cleaning

In [3]:
# loading all needed packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import glob

%matplotlib inline

In [4]:
path = r'PRSA_Data_20130301-20170228/' # place your path here
allFiles = glob.glob(path + '/*.csv')
df_ = pd.DataFrame()
test = pd.DataFrame()
train = pd.DataFrame()
trains = []
tests = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col = None,header = 0)
    df['Date'] = pd.to_datetime(df[['year','month','day','hour']])
    df = df.set_index('Date')
    df = df.loc[:'2016-12-31 23:00:00']
    X = df.drop(columns=['PM2.5','year','month','day','hour','No'], axis = 1)
    y = df['PM2.5']
    X_train = X[:int(X.shape[0]*0.8)]
    X_test = X[int(X.shape[0]*0.8):]
    y_train = y[:int(X.shape[0]*0.8)]
    y_test = y[int(X.shape[0]*0.8):]

    train = pd.concat([X_train,y_train], axis = 1, ignore_index=True)
    train.columns = ['PM10', 'SO2', 'NO2', 'CO', 'O3', 'TEMP', 'PRES', 'DEWP', 'RAIN','wd', 'WSPM', 'station','PM2.5']
    test = pd.concat([X_test,y_test], axis = 1, ignore_index=True)
    test.columns = ['PM10', 'SO2', 'NO2', 'CO', 'O3', 'TEMP', 'PRES', 'DEWP', 'RAIN','wd', 'WSPM', 'station','PM2.5']

    train = train.interpolate(method = 'time')
    train.wd = train.wd.fillna(method = 'ffill')
    train.NO2 = train.NO2.fillna(method = 'bfill')
    trains.append(train)


    test = test.interpolate(method = 'time')
    test['PM2.5'] = test['PM2.5'].fillna(method = 'bfill')
    test.wd = test.wd.fillna(method = 'ffill')
    test.O3 = test.O3.fillna(method = 'bfill')
    test.CO = test.CO.fillna(method = 'bfill')
    tests.append(test)

train = pd.concat(trains)
train = train.sort_values(['station', 'Date'])

test = pd.concat(tests)

test = test.sort_values(['station', 'Date'])

In [6]:
print(test.isna().sum())
print(train.isna().sum())

PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
PM2.5      0
dtype: int64
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
PM2.5      0
dtype: int64

In [7]:
train.tail(3)

,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station,PM2.5
Date,,,,,,,,,,,,,
2016-03-26 11:00:00,25.0,3.0,9.0,300.0,81.0,14.8,1021.9,-9.3,0.0,N,3.4,Wanshouxigong,9.0
2016-03-26 12:00:00,21.0,3.0,8.0,300.0,86.0,15.5,1021.0,-10.3,0.0,NNE,2.7,Wanshouxigong,11.0
2016-03-26 13:00:00,21.0,3.0,8.0,300.0,90.0,16.9,1019.9,-10.8,0.0,N,2.8,Wanshouxigong,10.0

In [8]:
test.head()

,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station,PM2.5
Date,,,,,,,,,,,,,
2016-03-26 14:00:00,23.0,11.0,9.0,400.0,101.0,17.8,1018.6,-10.1,0.0,WNW,2.9,Aotizhongxin,14.0
2016-03-26 15:00:00,26.0,10.0,8.0,300.0,105.0,19.0,1017.7,-11.1,0.0,WNW,3.8,Aotizhongxin,13.0
2016-03-26 16:00:00,35.0,10.0,9.0,300.0,107.0,19.4,1016.8,-10.8,0.0,NW,3.0,Aotizhongxin,12.0
2016-03-26 17:00:00,28.0,10.0,11.0,300.0,105.0,19.5,1016.5,-10.7,0.0,N,2.7,Aotizhongxin,10.0
2016-03-26 18:00:00,27.0,9.0,16.0,400.0,98.0,19.0,1016.5,-11.1,0.0,NW,3.2,Aotizhongxin,15.0

In [9]:
import glob
# From the DATA folder, we wil run through all of the individual csv files.
path = r'PRSA_Data_20130301-20170228/'
allFiles = glob.glob(path + '/*.csv')
# Prep the test and train data frames.
time = pd.DataFrame()
times = []
for file_ in allFiles:

    # Read in and set data index.
    df = pd.read_csv(file_,index_col = None,header = 0)
    df['Date'] = pd.to_datetime(df[['year','month','day','hour']])
    df = df.set_index('Date')
    df = df.loc[:'2016-12-31 23:00:00']
    # Drop unwanted columns

    df = df.drop(columns=['year','month','day','hour','No'], axis = 1)
    df.columns = ['PM2.5','PM10', 'SO2', 'NO2', 'CO', 'O3', 'TEMP', 'PRES', 'DEWP', 'RAIN','wd', 'WSPM', 'station']


    # Interpolate the train data and add to the rest of the train list

    df = df.interpolate(method = 'time')
    df.wd = df.wd.fillna(method = 'ffill')
    df.O3 = df.O3.fillna(method = 'bfill')
    df.CO = df.CO.fillna(method = 'bfill')
    df.NO2 = df.NO2.fillna(method = 'bfill')
    times.append(df)

# Take the data frame we made at the top and combine the new data frame we processed here

time = pd.concat(times)
time.head()

,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
Date,,,,,,,,,,,,,
2013-03-01 00:00:00,6.0,18.0,5.0,5.0,800.0,88.0,0.1,1021.1,-18.6,0.0,NW,4.4,Gucheng
2013-03-01 01:00:00,6.0,15.0,5.0,5.0,800.0,88.0,-0.3,1021.5,-19.0,0.0,NW,4.0,Gucheng
2013-03-01 02:00:00,5.0,18.0,5.5,5.0,700.0,52.0,-0.7,1021.5,-19.8,0.0,WNW,4.6,Gucheng
2013-03-01 03:00:00,6.0,20.0,6.0,5.0,650.0,62.5,-1.0,1022.7,-21.2,0.0,W,2.8,Gucheng
2013-03-01 04:00:00,5.0,17.0,5.0,5.0,600.0,73.0,-1.3,1023.0,-21.4,0.0,WNW,3.6,Gucheng

In [10]:
time.isna().sum()

PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

In [11]:
# pickling data
#import pickle

train.to_pickle('PKL/train.pkl')
test.to_pickle('PKL/test.pkl')
time.to_pickle('PKL/full.pkl')